/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*____________________________________________________________*/
/*____________________________________________________________*/
/*____________________________________________________________*/
/*____________________________________________________________*/








html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.preload {
  opacity: 0;
  background-color: black;
}

body {
  padding: 0;
  opacity: 1;
  transition: opacity 1s;
}

.gradient-box {
  min-height: 100vh;
  background: linear-gradient(rgba(83, 107, 227, 0.64), rgba(161, 86, 223, 0.74));
  padding: 2rem;
  transition: background 1s ease-in-out;
}

.gradient-box.home {
  background: linear-gradient(rgba(83, 107, 227, 0.59), rgba(161, 86, 223, 0.7));
}

.gradient-box.about {
  background: linear-gradient(rgba(69, 230, 96, 0.51), rgba(79, 228, 217, 0.51));
}

.gradient-box.projekte {
  background: linear-gradient(rgba(209, 44, 44, 0.5), rgba(236, 136, 27, 0.63));
}

.gradient-box.lebenslauf {
  background: linear-gradient(rgba(36, 71, 0, 0.49), rgba(255, 212, 0, 0.64));
}

.gradient-box.tools {
  background: linear-gradient(rgba(24, 255, 0, 0.34), rgba(255, 106, 0, 0.54));
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  margin: 0;
}

h1{
  font-size: 50px;
  color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  position: fixed;
  width: 100%;
  top: 6rem;
  z-index: 1;
}

nav a {
  color: white;
  font-size: 20px;
  padding: 1.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}

main {
  margin-top: 2rem;
}

section {
  display: none;
  padding: 2rem;
}

section.active {
  display: block;
}

h2{
  margin-top: 100px;
}

.Zeitstrahl{
  margin: 0;
}

.tools h2,
.home h2,
.about h2,
.projekte h2,
.lebenslauf h2 {
  text-align: center;
  font-size: 50px;
  color: black;
}

.tools p,
.home p,
.about p,
.projekte p,
.lebenslauf p {
  text-align: center;
  font-size: 20px;
  color: black;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 20%;
}

.item {
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.07s, box-shadow 0.3s;
}

/* Anpassungen für das verlinkte Bild */
.image-link img {
  max-width: 50%; /* Behalten Sie die Größe bei */
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Bestehende Regel, die sicherstellt, dass das Bild im Zentrum bleibt */
.item img {
  max-width: 50%;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

.item-übermich,
.item-home{
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.07s, box-shadow 0.3s;
}


.item:hover,
.item-übermich:hover{
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.item h3,
.item-übermich h3{
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.item img,
.item-übermich img{
  max-width: 50%;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

.item p ,
.item-übermich p {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-übermich p {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  height: 60%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}












